.store-container {
  padding: 20px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    color: #333;
  }
}

.category-filter {
  margin-bottom: 20px;

  label {
    margin-right: 10px;
    font-weight: bold;
  }

  select {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5 columns
  gap: 10px; // Reduced gap for closer columns
  justify-content: center;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

  .product-name,
  .product-description,
  .product-price {
    color: #333;
  }
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-options {
  margin-top: 10px;
}

.product-option {
  margin-top: 10px;

  .product-option-image {
    max-width: 50px;
    height: auto;
    border-radius: 5px;
    margin-right: 5px;
  }
}
