.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bff;
  color: white;
  text-align: center;
}

.splash-page h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.splash-page p {
  font-size: 1.5em;
}
