.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #242424;

  .register {
    background: rgba(255, 255, 255, 0.8); // Added opacity
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        width: 100%;
        padding: 10px;
        background-color: #676a6d;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
